@model DBConnection.Models.Room

@{
    ViewData["Title"] = "Edit";
}
<h1>Edit</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FloorNumber" class="control-label"></label>
                <input asp-for="FloorNumber" class="form-control" value="@Model.FloorNumber" disabled="disabled" />
                <span asp-validation-for="FloorNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var cats in ViewBag.catIds)
                    {
                        <option value="@cats.Key">@cats.Value</option>
                    }
                </select>

            </div>
            <div class="form-group">
                <label asp-for="HotelId" class="control-label"></label>
                <select asp-for="HotelId" class="form-control">
                    @foreach (var hots in ViewBag.hotIds)
                    {
                        <option value="@hots.Key">@hots.Value</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Imagefile" class="control-label"></label>
                <input asp-for="Imagefile" class="" accept="image/*" />
                <span asp-validation-for="Imagefile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
