@model IEnumerable<DBConnection.Models.Booking>

@{
    ViewData["Title"] = "Index";
}
<h1>Review Reservations</h1>
<div class=" mainBody">
    <table class="table table-striped table-bordered" id="all-Bookings-table">

        <thead>
            <tr>

                <th>
                    Room Number
                </th>
                <th>
                    User
                </th>
                <th>
                    From Date
                </th>
                <th>
                    To Date
                </th>

                <th>
                    Bill
                </th>
                <th>
                    Accept
                </th>
                <th>
                    Reject
                </th>
                <th>Details</th>
            </tr>
        </thead>

        <tbody id="reservations_table" class="list">
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Room.Id)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                    </td>
                    <td class="statDate">
                        @Html.DisplayFor(modelItem => item.FromDate)
                    </td>
                    <td class="endDate">
                        @Html.DisplayFor(modelItem => item.ToDate)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.Bill)
                    </td>
                    <td>
                        <div class="form-group" style="margin-bottom: 0.5rem; margin-top: 0.5rem;">
                            <input type="submit" value="Accept" class="btn btn-primary" id="@("accept" + item.Id ) " />
                        </div>
                    </td>
                    <td>
                        <div class="form-group" style="margin-bottom: 0.5rem; margin-top: 0.5rem;">
                            <input type="submit" value="Reject" class="btn btn-primary" id="@("reject" + item.Id) " />
                        </div>
                    </td>
                    <td>

                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section Scripts{
    <script>
       $('#all-Bookings-table').dataTable();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {
            $(document).on('click' , '[id^=accept]' , function () {
                var id = $(this).attr('id');
                id = id.replace("accept", "");
                id = parseInt(id);

                $('#reservations_table').empty();
                $.ajax({
                    type: "Get",
                    url: "reviewbookings/getBookings",
                    data: {
                        bookingID : id
                    },
                    success: function (response) {
                        var data = JSON.parse(response);
                        console.log(data);
                        $.each(data, function (key, item) {
                            var html_view = ` <tr>
                                                    <td>
                                                     ${ item.Room.Id}
                                                    </td>

                                                    <td>
                                                        ${item.ApplicationUser.Email}
                                                    </td>
                                                    <td>
                                                        ${item.FromDate}
                                                    </td>
                                                    <td>
                                                        ${item.ToDate}
                                                    </td>


                                                    <td>
                                                        ${item.Bill}
                                                    </td>
                                                    <td>
                                                        <div class="form-group" style="margin-bottom: 0.5rem; margin-top: 0.5rem;">
                                                            <input type="submit" value="Accept" class="btn btn-primary" id="accept${item.Id } " />
                                                        </div>
                                                    </td>
                                                <td>
                                                    <div class="form-group" style="margin-bottom: 0.5rem; margin-top: 0.5rem;">
                                                        <input type="submit" value="Reject" class="btn btn-primary" id="reject${item.Id} " />
                                                    </div>
                                                </td>
                                                <td>

                                                    <a asp-action="Details" asp-route-id="${item.Id}">Details</a>
                                                </td>
                                        </tr>`

                            $('#reservations_table').append(html_view);

                        });
                    }
                })

            });

            $(document).on('click', '[id^=reject]', function () {
                var id = $(this).attr('id');
                id = id.replace("reject", "");
                id = parseInt(id);

                $('#reservations_table').empty();
                $.ajax({
                    type: "Get",
                    url: "reviewbookings/reject",
                    data: {
                        bookingID: id
                    },
                    success: function (response) {
                        var data = JSON.parse(response);
                        console.log(data);
                        $.each(data, function (key, item) {
                            var html_view = ` <tr>
                                                    <td>
                                                     ${ item.Room.Id}
                                                    </td>

                                                    <td>
                                                        ${item.ApplicationUser.Email}
                                                    </td>
                                                    <td>
                                                        ${item.FromDate}
                                                    </td>
                                                    <td>
                                                        ${item.ToDate}
                                                    </td>


                                                    <td>
                                                        ${item.Bill}
                                                    </td>
                                                    <td>
                                                        <div class="form-group" style="margin-bottom: 0.5rem; margin-top: 0.5rem;">
                                                            <input type="submit" value="Accept" class="btn btn-primary" id="accept${item.Id} " />
                                                        </div>
                                                    </td>
                                                <td>
                                                    <div class="form-group" style="margin-bottom: 0.5rem; margin-top: 0.5rem;">
                                                        <input type="submit" value="Reject" class="btn btn-primary" id="reject${item.Id} " />
                                                    </div>
                                                </td>
                                                <td>

                                                    <a asp-action="Details" asp-route-id="${item.Id}">Details</a>
                                                </td>
                                        </tr>`

                            $('#reservations_table').append(html_view);

                        });
                    }
                })
            });
        });


    </script>


}